.Aboutme-Images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Aboutme-Images-Id1 {
  z-index: 3;
  position: absolute;
  width: 50vh;
  height: auto;
  bottom: 0px;
  right: 5vh;
}

.Aboutme-Images-Id2 {
  z-index: 0;
  position: absolute;
  width: 11.6vw;
  height: auto;
  top: 5vw;
  left: 6vw;
  opacity: 0.9;
}

.Aboutme-Images-Id3 {
  position: absolute;
  width: 20vh;
  height: auto;
  top: 82%;
  left: -1.2%;
  opacity: 0.9;
}

.Aboutme-Images-Id4 {
  position: absolute;
  height: 100vh;
  min-height: 400px;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50.5%, -50%);
}

.Aboutme-Images-Id4-1 {
  position: absolute;
  display: none;
  content: url(../../../images/centerline-mobile.png);
}

.Aboutme-Images-Id5 {
  position: absolute;
  width: 100vw;
  /* min-width: 1000px; */
}

.Aboutme-Images-Id6-1 {
  pointer-events: all;
  position: absolute;
  width: 13vw;
  height: auto;
  top: 8vw;
  left: 52vw;
  -webkit-box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  transition: 1s;
}
.Aboutme-Images-Id6-1:hover {
  width: 15vw;
  height: auto;
}
.Aboutme-Images-Id6-2 {
  pointer-events: all;
  position: absolute;
  width: 13vw;
  height: auto;
  top: 8vw;
  left: 66vw;
  -webkit-box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  transition: 1s;
}
.Aboutme-Images-Id6-2:hover {
  width: 15vw;
  height: auto;
}
.Aboutme-Images-Id6-3 {
  pointer-events: all;
  position: absolute;
  width: 13.2vw;
  height: auto;
  top: 7.9vw;
  left: 80vw;
  -webkit-box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 67px 1px rgba(255, 255, 255, 0.27);
  transition: 1s;
}
.Aboutme-Images-Id6-3:hover {
  width: 15vw;
  height: auto;
}

#igotcha {
  position: absolute;
  z-index: 2;
  width: 34.2vh;
  height: auto;
  right: 12.8vh;
  bottom: 16.8vh;
}

.techstack {
  position: absolute;
  width: 15vw;
  height: 20vw;
  left: 35vw;
  bottom: 0;
  margin-bottom: 0vw;
  display: flex;
  flex-direction: column;
}
.language,
.frameworks,
.frameworks-ex,
.tools {
  display: flex;
  flex-direction: row;
  column-gap: 0.8vw;
}

.frameworks {
  margin-top: 0.5vw;
}

.frameworks-ex {
}

#htmlicon,
#jsicon,
#cssicon,
#reacticon,
#nodeicon {
  width: 2vw;
  height: 2vw;
}
#nodeicon {
  position: relative;
  width: 4vw;
  height: 4vw;
  bottom: 1vw;
}
#darticon {
  width: 4vw;
  height: 4vw;
  position: relative;
  bottom: 1vw;
}
#expressicon,
#fluttericon {
  margin-top: -1.5vw;
  width: auto;
  height: 2vw;
}
#vscodeicon {
  margin-top: 2.5vw;
  width: 2vw;
  height: 2vw;
}

@media screen and (min-width: 0px) and (max-width: 424px) {
  .Aboutme-Images-Id1 {
    z-index: 3;
    position: absolute;
    width: 60vw;
    height: auto;
    /* transform: rotate(180deg); */
    /* left: 5vh; */
    bottom: 0px;
    right: 2vw;
  }
  .Aboutme-Images-Id2 {
    width: 25vw;
    height: auto;
    top: 6.5vh;
    left: 9vw;
    opacity: 0.9;
  }
  #igotcha {
    position: absolute;
    z-index: 2;
    right: 12vw;
    bottom: 20.5vw;
    width: 40.3vw;
    height: auto;
  }
  .Aboutme-Images-Id3 {
    position: absolute;
    min-width: 30vw;
    height: auto;
    left: -6vw;
    top: 82.5vh;
    opacity: 0.9;
  }
  .Aboutme-Images-Id4 {
    display: none;
  }
  .Aboutme-Images-Id4-1 {
    position: absolute;
    display: block;
    width: 100vw;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .Aboutme-Images-Id5 {
    position: absolute;
    width: 80vw;
    /* min-width: 270px; */
    top: 3.5vh;
    left: 9vw;
  }
  .Aboutme-Images-Id6-1 {
    position: absolute;
    width: 32vw;
    height: auto;
    top: 57vh;
    left: 10vw;
  }
  .Aboutme-Images-Id6-1:hover {
    width: 38vw;
    height: auto;
  }
  .Aboutme-Images-Id6-2 {
    position: absolute;
    width: 32vw;
    height: auto;
    top: 57vh;
    left: 46vw;
  }
  .Aboutme-Images-Id6-2:hover {
    width: 38vw;
    height: auto;
  }
  .Aboutme-Images-Id6-3 {
    position: absolute;
    width: 32vw;
    height: auto;
    top: 68vh;
    left: 10vw;
  }
  .Aboutme-Images-Id6-3:hover {
    width: 38vw;
    height: auto;
  }
}
@media screen and (min-width: 425px) and (max-width: 499px) {
  /* Bigest @Mobile size */
  .Aboutme-Images-Id2 {
    z-index: 0;
    position: absolute;
    width: 11.6vw;
    height: auto;
    top: 8vw;
    left: 6vw;
    opacity: 0.9;
  }
  .Aboutme-Images-Id6-1 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 13vw;
    left: 54vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  /* Smallest @Desktop size */

  .Aboutme-Images-Id2 {
    z-index: 0;
    position: absolute;
    width: 11.6vw;
    height: auto;
    top: 7vw;
    left: 6vw;
    opacity: 0.9;
  }
  .Aboutme-Images-Id6-1 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 12vw;
    left: 54vw;
  }
  .Aboutme-Images-Id6-1 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 11vw;
    left: 54vw;
  }
  .Aboutme-Images-Id6-2 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 20vh;
    left: 64vw;
  }
  .Aboutme-Images-Id6-3 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 30vh;
    left: 74vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .Aboutme-Images-Id6-1 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 11vw;
    left: 54vw;
  }
  .Aboutme-Images-Id6-2 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 30vh;
    left: 64vw;
  }
  .Aboutme-Images-Id6-3 {
    position: absolute;
    width: 15vw;
    height: auto;
    top: 45vh;
    left: 74vw;
  }
}

@media screen and (min-width: 900px) and (max-width: 1439px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .techstack {
    position: absolute;
    width: 15vw;
    height: 20vw;
    left: 5.8vw;
    bottom: 0;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-height: 0px) and (max-height: 400px) {
  .techstack {
    display: none;
  }
}
