.Aboutme-Texts {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: inline-block;
  font-family: "Space Mono", monospace;
  white-space: nowrap;
}

#ytembed {
  position: relative;
  width: 10vw;
  height: 5vw;
}

#works {
  position: absolute;
}

#works p {
  margin: 0;
  padding: 0;
}
#aboutmebio {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7vw;
}
#aboutmebio > p {
  margin: 0;
}

#worktxtsId1 {
  font-size: 3vw;
  position: absolute;
  top: 5vh;
  left: 69vw;
}

#worktxtsId2 {
  font-size: 2vw;
  position: absolute;
  top: 47vh;
  left: 67vw;
}

#worktxtsId3 {
  font-size: 2vw;
  position: absolute;
  top: 2.25vw;
  left: 23.5vw;
}

#worktxtsId4 {
  font-size: 1.2vw;
  position: absolute;
  display: inline-block;
  top: 5.5vw;
  left: 23.5vw;
}

#worktxtsId5 {
  font-size: "";
  position: absolute;
  display: inline-block;
  left: -15.5vw;
  top: 1vw;
}

#worktxtsId5 p {
  margin: 0;
  padding: 0;
}

#worktxtsId5-1 {
  position: absolute;
  font-size: 2.3vw;
  top: 16.5vw;
  left: 21.5vw;
}

#worktxtsId5-2 {
  position: absolute;
  font-size: 0.9vw;
  top: 20vw;
  left: 21.5vw;
}

#worktxtsId5-3 {
  position: absolute;
  font-size: "";
  top: 22.5vw;
  left: 21.5vw;
}

#worktxtsId5-3-1 {
  font-size: 1.5vw;
}

#worktxtsId5-3-2 {
  position: absolute;
  top: 2.5vw;
}

#worktxtsId5-4 {
  position: absolute;
  font-size: 2.3vw;
  top: 29vw;
  left: 21.5vw;
}

.txtfontvw1 {
  font-size: 0.9vw;
}

#workref {
  font-size: 0.9vw;
  position: absolute;
  bottom: -90vh;
  left: 51.2vw;
}

#workref p span a {
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  #worktxtsId5-2 {
    font-size: 0vw;
  }

  #worktxtsId5-2::after {
    content: "Html5 ,Css ,Javascript ,ReactJs \a // AdobeXD ,Git ,Github";
    position: absolute;
    font-size: 0.9vw;
    display: block;
    white-space: pre;
    padding-bottom: 2vw;
  }

  #worktxtsId5-3 {
    top: 25.5vw;
  }

  #worktxtsId5-4 {
    top: 32vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  #aboutmebio {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.5vw;
    writing-mode: vertical-rl;
    margin-top: -5vw;
    margin-left: 17.2vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 424px) {
  /* Smallest @Mobile size */
  #aboutmebio {
    font-family: "Courier New", Courier, monospace;
    font-size: 1vw;
    transform: scale(0.75);
    margin-left: -14vw;
  }
  #aboutmebio > p {
    margin: 0;
  }
  #worktxtsId1 {
    font-size: 5vw;
    top: 51vh;
    left: 10vw;
  }
  #worktxtsId2 {
    font-size: 3vw;
    top: 71.5vh;
    left: 42vw;
  }

  #worktxtsId3 {
    font-size: 5vw;
    top: 4vw;
    left: 40vw;
  }

  #worktxtsId4 {
    font-size: 3.1vw;
    top: 12.5vw;
    left: 40vw;
  }

  #worktxtsId5 {
    left: -12vw;
    top: 2vw;
  }

  #worktxtsId5-1 {
    font-size: 5.5vw;
    top: 31vw;
    left: 21.5vw;
  }

  #worktxtsId5-2 {
    font-size: 0;
  }

  #worktxtsId5-2::after {
    content: "Html5 ,Css ,Javascript ,ReactJs \a ,Jquery // AdobeXD ,Git ,Github";
    position: absolute;
    /* font-size: 0.9vw; */
    font-size: 2.4vw;
    display: block;
    white-space: pre;
    padding-bottom: 2vw;
    top: 19vw;
  }

  #worktxtsId5-3 {
    top: 46.5vw;
    left: 21.5vw;
  }

  #worktxtsId5-3-1 {
    position: relative;
    font-size: 3.5vw;
    top: 2vw;
  }

  #worktxtsId5-3-2 {
    position: absolute;
    top: 7.5vw;
  }

  #worktxtsId5-4 {
    font-size: 5vw;
    top: 60vw;
    left: 21.5vw;
  }
  .txtfontvw1 {
    /* font-size: 0.7vw; */
    font-size: 2.4vw;
  }
  #workref {
    font-size: 0.9vw;
    position: absolute;
    bottom: -87.5vh;
    left: 8.2vw;
  }
  #aboutmebio {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.7vw;
    margin-left: 42vw;
    margin-top: -30vw;
  }
  .workreficon {
    font-size: 5vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 499px) {
  /* Bigest @Mobile size */
  #worktxtsId5-3-1 {
    position: relative;
    font-size: 1.5vw;
    top: 1.5vw;
  }
  #worktxtsId5-3-2 {
    position: absolute;
    top: 4vw;
  }
  #worktxtsId3 {
    font-size: 2vw;
    position: absolute;
    top: 5.25vw;
    left: 23.5vw;
  }
  #worktxtsId4 {
    font-size: 1.2vw;
    position: absolute;
    display: inline-block;
    top: 8.5vw;
    left: 23.5vw;
  }
  #worktxtsId5-4 {
    position: absolute;
    font-size: 2.3vw;
    top: 35vw;
    left: 21.5vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  /* Smallest @Desktop size */
  #worktxtsId5-3-1 {
    position: relative;
    font-size: 1.5vw;
    top: 1.5vw;
  }
  #worktxtsId5-3-2 {
    position: absolute;
    top: 4vw;
  }
  #worktxtsId5-4 {
    position: absolute;
    font-size: 2.3vw;
    top: 35vw;
    left: 21.5vw;
  }
  #worktxtsId3 {
    font-size: 2vw;
    position: absolute;
    top: 4.25vw;
    left: 23.5vw;
  }
  #worktxtsId4 {
    font-size: 1.2vw;
    position: absolute;
    display: inline-block;
    top: 7.5vw;
    left: 23.5vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
}

@media screen and (min-width: 900px) and (max-width: 1439px) {
}

@media screen and (min-width: 1440px) {
}
